body {
    background-color: #FFE6F2;
    font-family: 'Merriweather', serif;
    color: #5B4B49;
    margin: 0;
    padding: 0;
    text-align: center;
}
header h1 {
    font-family: 'Lora', serif;
}

nav {
    margin: 20px 0;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF69B4;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-family: 'Georgia', serif;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #FFF0F5;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #FFB6C1;
}
section h2 {
    font-size: 2.5em;
    font-family: 'Georgia', serif;
}
footer {
    background-color: #FFB6C1;
    padding: 10px;
    border-top: 5px solid #FF69B4;
    font-family: 'Georgia', serif;
}
footer p {
    margin: 0;
    font-size: 1em;
    color: #5B4B49;
}
button {
    background-color: #FFB6C1;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Georgia', serif;
}
button:hover {
    background-color: #FF69B4;
    transform: translateY(-3px);
}

